.box {
  	height: 100%;
  	min-width: 100px;	
	height: 100vh;
	display: inline;
}

.light_green {
  background-color: #6ABF14;
}

.dark_green {
  background-color: #005E19;
}

.blue {
  background-color: #35339C;
}

.indigo {
	background-color: #381C84;
}

.purple {
	background-color: #520055;
}

.plum {
	background-color: #76002C;
}

.dark_red {
	background-color: #6C0000;
}

.light_red {
	background-color: #EC0C00;
}

.red_orange {
	background-color: #EC2D00;
}

.orange {
	background-color: #EC6200;
}
