body {
	background-color: white;
}

div {
	float: left;
}

.oneblock {
	background-color: #b27c66; 
	width: 50vw;
	height: 30vh;
	display: inline-block;
	font-family: Cambria;
	font-size: 30px;
}

.twoblock {
	background-color: #857e61; 
	width: 30vw;
	height: 30vh;
 	display: inline-block;
 	font-family: Permanent Marker;
 	font-size: 30px;
 	color: white;
}

.threeblock {
	background-color: #b49a67; 
	width: 20vw;
	height: 30vh;
	display: inline-block;
	font-family: Cambria;
	font-size: 30px;
	color: white;
}

.fourblock {
	background-color: #967d69; 
	width: 50vw;
	height: 70vh;
	display: inline-block;
	font-family: Georgia;
	font-size: 30px;
}

.fiveblock {
	background-color: #644536; 
	width: 50vw;
	height: 70vh;
	display: inline-block;
	font-family: Georgia;
	font-size: 30px;
	color: white;
}


p {
	padding-top: 80px;
}

.bottom {
 	padding-top: 250px;
}
